.resume{
    width: 70%;
    margin: 0 auto;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.exsperience{
    width: 70%;
    flex-shrink: 2;
}

.resume aside{
    display: flex;

    flex-shrink: 0;
    flex-direction: column;
    gap: 2em;
}